/*variables*/
/*eof variables*/
.inl {
  display: inline-block;
}

.transition {
  -webkit-transition: .3s;
          transition: .3s;
}

html {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex: auto;
}
/*header*/
.globalHeader {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  width: 100%;
  color: #000;
  z-index: 2;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 3.64583%;
  padding-right: 3.64583%;
}

.header_1 {
  flex-basis: 14%;
}

.header_2 {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  flex-basis: 9%;
}

.header_2-links {
  position: relative;
  top: 17px;
  left: 5px;
}

.header_2-link-a1, .header_2-link-a2 {
  color: #BABABA;
  display: block;
  text-decoration: none;
  font-size: 1.5em;
  line-height: 1.1;
  font-family: "Open Sans", sans-serif;
}

.header_2-link-a1:hover, .header_2-link-a2:hover {
  color: #EE2475;
  text-decoration: none;
  -webkit-transition: .3s;
          transition: .3s;
}

.header_2-link-a1:focus, .header_2-link-a2:focus {
  color: #EE2475;
  text-decoration: none;
}

.header_2-link-a1:active, .header_2-link-a2:active {
  color: #EE2475;
  text-decoration: none;
}

.header_2-link {
  padding-left: 5px;
}

.header_3 {
  flex-basis: 30%
}

.header_3-p {
  color: #2A2935;
  font-weight: bold;
  font-size: 1.3em;
  font-family: "Open Sans", sans-serif;
  margin-top: 0;
}

.header_4 {
  flex-basis: 45%;
}

.header_4 .fa {
  color: #BABABA;
  font-size: 3em;
  padding-left: 7px;
}

.header_4 .fa:hover {
  color: #EE2475;
  -webkit-transition: .3s;
          transition: .3s;
}

.fa-link {
  text-decoration: none;
}

.fa-chain:before, .fa-link:before {
  content: no-close-quote !important;
}

.header_5 {
  flex-basis: 2%;
  z-index: 9999;
}

.header_5:hover .menu-fa {
  color: #BABABA;
  -webkit-transition: .3s;
          transition: .3s;
}

.header_5:hover .fa-bars-span {
  color: #BABABA;
  -webkit-transition: .3s;
          transition: .3s;
}

.menu-fa {
  cursor: pointer;
  font-size: 3em !important;
  color: #2A2935;
}

.fa-bars-span {
  color: #2A2935;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: .89em;
  position: relative;
  bottom: 8px;
}

/*eof header*/
/*menu*/
.span_close {
  float: right;
  padding-right: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 3em;
}

.remodal_menu {
  float: right;
  clear: both;
}

.remodal_menu-li {
  list-style: none;
  text-align: right;
}

.remodal_menu-a {
  text-decoration: none;
  color: #2A2935;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  line-height: 2.3em;
  font-family: "Open Sans", sans-serif;
}

.remodal_menu-a:hover {
  color: #EE2475;
  -webkit-transition: .3s;
          transition: .3s;
}

#ul_click {
  color: #EE2475;
}

.remodal_border {
  border-left: 2px solid #EE2475;
  float: right;
  height: 7em;
  margin-top: 3.5em;
  margin-left: 2em;
  position: relative;
}

.remodal_border:after {
  border: 15px solid transparent;
  border-left-color: #fff;
  position: absolute;
  top: 40px;
  right: -26px;
  content: '';
}

.remodal_border:before {
  border: 15px solid transparent;
  border-left-color: #EE2475;
  position: absolute;
  top: 40px;
  right: -28px;
  content: '';
}

.remodal_submenu {
  float: right;
  padding-top: 1.5em
  /*    display: none;*/
}

.remodal_submenu-ul {
  padding-left: 0 !important;
}

.remodal_submenu-li {
  list-style: none;
  text-align: right;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em;
  line-height: 2em;
  font-weight: bold;
  color: #2A2935;
  cursor: pointer;
  clear: both;
}

.remodal_submenu-li:hover {
  color: #EE2475;
  -webkit-transition: .3s;
          transition: .3s;
}

.remodal_submenu-p {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2;
  text-align: right;
  float: right;
  color: #2A2935;
  font-family: "Open Sans", sans-serif;
  margin-top: 7px !important;
  margin-bottom: 7px !important;
}

/*eof menu*/
/*main*/

.vh__title .container .row .col-md-6 {
  padding: 0 !important;
}

.wrapper {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex: auto;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}

.title {
  width: 100%;
  height: auto;
  margin: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex: auto;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.title_p-wrapper {
  -ms-align-self: flex-end;
  align-self: flex-end;
}
#partners__title {
  position: absolute;
  top: 30vh;
  width: 100%;
  margin: auto;
}

.title_img-wrapper {
  width: 35%;
}

.title_img {
  width: 100% !important;
}

.title_p1 {
  font-size: 1.625em;
  font-family: "Open Sans", sans-serif;
  color: #2d2e38;
  line-height: 1.4;
  text-align: right;
}

.title_p1-span1 {
  color: #EE2475;
  text-transform: uppercase;
  font-weight: bold;
}

.title_p1-span2 {
  font-size: 1.31em;
}

.title_p2 {
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  color: #EE2475;
  line-height: 1.4;
  text-align: right;
  margin-bottom: 0;
}

.title_copyright-link2:hover {
  color: #EE2475;
  -webkit-transition: .3s;
          transition: .3s;
}

.title_copyright {
  font-size: 1.4em;
  font-family: 'Open Sans', sans-serif;
  color: #a7a7a7;
  line-height: 1.2;
  text-align: left;
  width: 100%;
  padding-bottom: 60px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.title_copyright-p {
  font-size: 1em;
}

.title_copyright-link2 {
  text-decoration: none;
  color: #a7a7a7;
}

/*eof main*/
/*contacts*/
.contacts__title {
  position: absolute;
  top: 30vh;
  width: 100%;
  margin: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex: auto;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.contacts__wrapper {
  background: url(../img/logo_bg.png) no-repeat;
  background-position: 50px;
  background-size: 90vh;
}

.contacts__title-p1 {
  color: #2A2935;
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0;
  margin-top: 1.5em;
}

.contacts__title-p1:first-child {
  margin-top: 4em;
}

.contacts__title-p2 {
  color: #EE2475;
  font-size: 2em;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  margin-top: 0;
}

.contacts__title_wrapper {
  margin-left: 16%;
  background-color: #EE2475;
  padding: 50px;
  padding-top: 95px;
  height: 70vh !important;
  -webkit-clip-path: polygon(0% 5%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0% 5%, 100% 0, 100% 100%, 0% 100%);
}

.contacts__title_wrapper-h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1em;
  font-size: 1.625em;
}

.contacts__title-input {
  border: 0;
  display: block;
  border-bottom: 5px solid;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 1em;
  color: #2A2935;
  outline: 0 !important;
}

.cont-cont {
  margin-left: 5%;
}

.w75 {
  width: 80%;
  margin: 0 auto;
}

.contacts__title-submit {
  background-color: #2A2935;
  border: 0;
  color: #fff;
  font-weight: bold;
  font-size: 1.1em;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Open Sans", sans-serif;
  outline: 0 !important;
}

::-webkit-input-placeholder {
  color: #2A2935;
}

::-moz-placeholder {
  color: #2A2935;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #2A2935;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #2A2935;
}

.contacts__title-submit:hover {
  color: #282a35;
  background-color: #fff;
  -webkit-transition: .2s;
          transition: .2s;
  border: 3px solid #282a35;
}

.title_copyright-link21:hover {
  color: #fff;
}

/*eof contacts*/
/*partners*/
.dw_partners {
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.mySlickSlider__img {
  padding: 5px;
  margin: 5px;
}

.slick-slide .row .col-xs-12 {
  min-height: 100px;
}

/*eof partners*/
/*remodal*/
#remodal_new {
  border: 4px solid #b8b8b8;
  width: 27.60417%;
}

.remodal:after {
  border: 13px solid transparent;
  border-bottom-color: #fff;
  position: absolute;
  bottom: 100%;
  right: 89%;
  content: '';
}

.remodal:before {
  border: 20px solid transparent;
  border-bottom-color: #b8b8b8;
  position: absolute;
  bottom: 100%;
  right: 87.5%;
  content: '';
}

#remodal_imp:before {
  border: 0 !important;
}

#remodal_imp:after {
  border: 0 !important;
}

.vh__form_input {
  clear: both;
  margin-top: 20px;
  height: 44px;
}

.vh__form_input label {
  float: left;
  color: #2A2935;
  margin-top: 10px;
}

#to {
  width: 68%;
  font-size: .9em;
  display: inline-block;
  background-color: #fff !important;
  color: #EE2475;
  padding: 10px;
  outline: none !important;
  border: 2px solid #b8b8b8;
  font-weight: bold;
  float: right;
  cursor: crosshair;
}

#from {
  width: 68%;
  font-size: .9em;
  display: inline-block;
  background-color: #fff !important;
  color: #282A35;
  padding: 10px;
  outline: none !important;
  border: 2px solid #b8b8b8;
  font-weight: bold;
  float: right;
}

#youText {
  width: 100%;
  border: 2px solid #b8b8b8;
  margin-top: 20px;
  font-size: .9em;
  display: inline-block;
  background-color: #fff !important;
  color: #282A35;
  padding: 10px;
  outline: none !important;
  font-weight: bold;
}

#send {
  float: left;
  margin-top: 20px;
  background: #282A35;
  color: #fff;
  border: 0;
  padding: 10px 25px 10px 25px;
  outline: 0;
  font-weight: bold;
}

#send:hover {
  color: #282a35;
  background-color: #fff;
  outline: 2px solid #282a35;
  -webkit-transition: .2s;
          transition: .2s;
  border: 0 !important;
}

/*eof remodal*/
.mySlickSlider {
  width: 100% !important;
}

.slick-slide {
  /*	width: 960px !important;*/
}

.myMar {
  margin-top: 1em;
  margin-bottom: 1em;
}

.slick-prev:before, .slick-next:before {
  font-size: 40px !important;
  color: #EE2475 !important;
}

.slick-prev, .slick-next {
  width: 40px !important;
  height: 40px !important;
}

.slick-prev {
  left: -50px !important;
}

.slick-next {
  right: -50px !important;
}

.myTop25 {
  margin-top: 25% !important;
}

/*events*/
.vh__events_title {
  position: absolute;
  top: 70vh;
  width: 100%;
  margin: 0 auto;
}

.tab {
  position: absolute;
  top: 20vh;
  width: 100%;
  margin: 0 auto;
}

.toogle_slider {
  background-color: #f1f1f1;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin: 10px;
  cursor: pointer;
}

.toogle_slider .col-md-4 {
  padding: 0;
}

.toogle_slider-img__wrapper {
  float: left;
  width: 100%;
  height: 100%;
}

.toogle_slider-p__wrapper {
  padding-top: 15px;
}

.toogle_slider-img {
  width: 100% !important;
  margin: 0 !important;
  height: 100% !important;
}

.toogle_slider-p {
  font-size: 1.3em;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

.tab__p-wrapper p {
  font-family: "Open Sans", sans-serif;
  font-size: .84em;
  line-height: 1.3;
}

.tab__p-bold {
  font-weight: bold;
}

.tab__p-link {
  font-weight: bold;
}

.tab__p-wrapper {
  padding-top: 0px;
  padding-right: 0px;
}

.tab__tabs-wrapper {
  position: relative;
}

.tab__img-wrapper {
  position: relative;
  top: 1vh;
}

.mySlickSlider1 .slick-prev {
  left: -10px !important;
}

.mySlickSlider1 .slick-next {
  right: 0px !important;
}

.mySlickSlider1 .slick-prev {
  width: 20px !important;
  height: 20px !important;
}

.mySlickSlider1 .slick-next {
  width: 20px !important;
  height: 20px !important;
}

.mySlickSlider1 .slick-prev:before {
  font-size: 20px !important;
  color: #BABABA !important;
}

.mySlickSlider1 .slick-next:before {
  font-size: 20px !important;
  color: #BABABA !important;
}

.mySlickSlider4 .slick-prev {
  left: -10px !important;
}

.mySlickSlider4 .slick-next {
  right: 0px !important;
}

.mySlickSlider4 .slick-prev {
  width: 20px !important;
  height: 20px !important;
}

.mySlickSlider4 .slick-next {
  width: 20px !important;
  height: 20px !important;
}

.mySlickSlider4 .slick-prev:before {
  font-size: 20px !important;
  color: #BABABA !important;
}

.mySlickSlider4 .slick-next:before {
  font-size: 20px !important;
  color: #BABABA !important;
}

.mySlickSlider5 .slick-prev {
  left: -10px !important;
}

.mySlickSlider5 .slick-next {
  right: 0px !important;
}

.mySlickSlider5 .slick-prev {
  width: 20px !important;
  height: 20px !important;
}

.mySlickSlider5 .slick-next {
  width: 20px !important;
  height: 20px !important;
}

.mySlickSlider5 .slick-prev:before {
  font-size: 20px !important;
  color: #BABABA !important;
}

.mySlickSlider5 .slick-next:before {
  font-size: 20px !important;
  color: #BABABA !important;
}

.mySlickSlider6 .slick-prev {
  left: -10px !important;
}

.mySlickSlider6 .slick-next {
  right: 0px !important;
}

.mySlickSlider6 .slick-prev {
  width: 20px !important;
  height: 20px !important;
}

.mySlickSlider6 .slick-next {
  width: 20px !important;
  height: 20px !important;
}

.mySlickSlider6 .slick-prev:before {
  font-size: 20px !important;
  color: #BABABA !important;
}

.mySlickSlider6 .slick-next:before {
  font-size: 20px !important;
  color: #BABABA !important;
}

.vh__final_img-wrapper {
  width: 100%;
  height: 40vh;
  margin: 0 auto;
  float: left;
}

.vh__final_img {
  margin: 0 !important;
  height: 100% !important;
}

/*.mySlickSlider4 .slick-track {
	width: 100% !important;
}
.mySlickSlider4 .slick-current {
	width: 100% !important;
}*/
/*eof events*/

/*# sourceMappingURL=creative.css.map */