/* выделенный текст */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/* eof выделенный текст */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* desktop */
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  body {
      font-size: 13px !important;
    }
    .title_copyright {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      padding-left: 10%;
      padding-bottom: 2%;
    }
    .remodal_border:after {
      top: 30px;
    }
    .remodal_border:before {
      top: 30px;
    }
    #remodal_imp {
      width: 80% !important;
  }
  .remodal:before {
      right: 87.4%;
  }
  .remodal:after {
    right: 90.1%;
  }
  .cont-cont {
      margin-left: 7% !important;
  }
  .contacts__title_wrapper {
    margin-left: 11%;
    padding: 15px;
    padding-top: 25px !important;
   }
  .contacts__title-p1:first-child {
      margin-top: 2em;
  }
  .dw_partners {
      width: 90%;
    }
     
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  body {
      font-size: 11px !important;
    }
    .fa-bars-span {
    bottom: 4px;
  }
  .remodal_border:after {
    top: 23px;
  }
  .remodal_border:before {
      top: 23px;
  }
  .remodal_menu-a {
      font-size: 1.6em;
  }
  .remodal:before {
      display: none;
  }
  .remodal:after {
      display: none;
  }
  .remodal_border {
      margin-top: 2.2em;
  }
  .remodal_border:after {
      display: none;
  }
  .remodal_border:before {
      display: none;
  }
  .remodal_submenu {
      padding: 0;
  }
  .header_3 {
     /* -ms-flex-preferred-size: 27%;
          flex-basis: 27%;*/
          width: 27%;
  }
  .header_2 {
      /*-ms-flex-preferred-size: 11%;
          flex-basis: 11%;*/
          width: 11%;
  }
  .header_1 {
      /*-ms-flex-preferred-size: 15%;
          flex-basis: 15%;*/
          width: 15%;
  }
  .contacts__title_wrapper {
      margin-left: 6%;
  }
  .cont-cont {
      margin-left: 6% !important;
  }
  .form_input label {
      display: none;
  }
  #remodal_new {
    width: 33%;
  }
  #to {
      display: none;
  }
  #from {
    width: 100%;
  }
  .remodal {
    padding: 15px !important;
  }
  .form_input {
    margin-top: 20px !important;
  }
  #youText {
    margin-top: 10px;
  }
  #send {
    margin-top: 10px;
  }
  .tab {
      top: 15vh;
  }
  .vfinal_img {
      margin: 0 !important;
      height: auto !important;
  }

  .vfinal_img-wrapper {
      width: 60%;
      height: 30vh;
  }
  .slick-list {
    padding-left: 28px !important;
    padding-right: 28px !important;
  }
  .tab__img-wrapper {
      width: 77%;
  }
  .tab__p-wrapper p {
      font-size: 1.3em;
      line-height: 1.1;
  }
  .vh__events_title {
      top: 75vh;
  }
  ul, ol {
      padding-left: 10px !important;
  }
  .title_copyright-p {
    font-size: .6em;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  body {
      font-size: 10px !important;
      overflow: visible !important;
    }
  .globalHeader {
    padding-top: 3%;
    padding-bottom: 3%;
  } 
  .header_1 {
    /*-ms-flex-preferred-size: 23%;
        flex-basis: 23%;*/
        width: 23%;
  }
  .header_2 {
    /*-ms-flex-preferred-size: 30%;
        flex-basis: 30%;*/
        width: 30%;
  }
  .header_4 {
    /*-ms-flex-preferred-size: 43%;
        flex-basis: 43%;*/
        width: 43%;
  }
  .header_5 {
   /* -ms-flex-preferred-size: 4%;
        flex-basis: 4%;*/
        width: 4%;
  }
  #remodal_imp {
      width: 100% !important;
      height: 90% !important;
      -webkit-box-shadow: 0px 0px 200px 100px rgba(255,255,255,1) !important;
      box-shadow: 0px 0px 200px 100px rgba(255,255,255,1) !important;
  }
  .remodal_submenu-p {
      font-size: .9em !important;
  }
  #contacts_display {
    display: none;
  }
  .contacts__title-input {
    border-bottom: 3px solid;
    padding: 5px;
    margin-bottom: 1.2em;
  }
  .dw_partners {
      width: 80%;
  }

  .mySlickSlider__img {
    max-height: 80px;
    margin: 0 auto;
  }
  .vh__events_title {
      top: 15vh;
  }
  .tab {
      top: 30vh;
  }
  .final_img-wrapper {
      width: 100%;
      height: auto !important;
      float: none;
  }
  .tab__img-wrapper {
      width: 100%;
  }
  .toogle_slider {
      margin: 1px;
      cursor: pointer;
  }
  .slick-slide .row .col-xs-12 {
      min-height: 80px;
      padding-left: 5px !important;
      padding-right: 5px !important;
  }
  .slick-prev:before, .slick-next:before {
      font-size: 30px !important;
      color: #EE2475 !important;
  }
  .toogle_slider-p {
    padding-top: 15px;
  }
  .toogle_slider-p__wrapper {
       padding-top: 0px; 
  }
  .tab__img-wrapper {
    margin-top: 20px;
    margin-bottom: 65px;
  }
  .title_img-wrapper {
      width: 45%;
  }
  .title_p1 {
      font-size: 1.5em;
  }
  .title_p2 {
      font-size: 1.3em;
  }
/* eof events */
  
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  body {
      font-size: 8px !important;
    }
  .header_1 {
    /*-ms-flex-preferred-size: 33%;
        flex-basis: 33%;*/
        width: 33%;
  }
  .header_4 {
    /*-ms-flex-preferred-size: 30%;
        flex-basis: 30%;*/
        width: 30%;
  }
  .title_p1 {
      font-size: .9em;
  }
  .title_p2 {
      font-size: .9em;
  }
  .header_2-link-a1, .header_2-link-a2 {
      font-size: 2em;
      line-height: 1.2;
  }
  .header_4 .fa {
      font-size: 4em;
      padding-left: 3px;
  }
  .header_2-link {
      padding-left: 0px;
  }
  .menu-fa {
      cursor: pointer;
      font-size: 4em !important;
      color: #2A2935;
  }
  .remodal_submenu {
    margin-top: 1em;
  }
  .remodal_menu-a {
      font-size: 1.9em !important; 
  }
  .remodal_submenu-li {
      font-size: 1.3em !important;
  }
  .remodal_submenu-p {
      font-size: .8em !important;
  }
  .fa-bars-span {
      font-size: 1.05em;
  }
  .title_copyright {
      padding: 0;
      padding-left: 2%;
      width: 80%;
  }
  .header_1-logo {
    width: 80% !important;
  }
  #remodal_imp {
    padding: 0 !important;
  }
  .remodal_border {
      display: none;
  }
  .tab__p-wrapper p {
      font-size: 2em;
      line-height: 1.5;
      margin-top: 1.5em;
  }
  .slick-prev {
      left: -30px !important;
  }
  .slick-next {
      right: -30px !important;
  }
  .toogle_slider div {
    padding-right: 5px;
    padding-left: 5px;
  }
  .mySlickSlider4 .slick-next {
      right: -10px !important;
  }
  .title_img-wrapper {
    width: 55%;
  }
  #remodal_new {
      width: 80%;
      border: 2px solid #bebebe;
      right: 10% !important;
      top: 20%;
  }
  #displaynone {
      display: none;
    }
  .contacts__title {
    top: 15vh;
  }
  .contacts__title_wrapper-h2 {
    margin: 0.5em 0 1em 0;
  }
  .contacts__title_wrapper form {
    width: 100%;
  }
  .contacts__title-input {
      border-bottom: 3px solid;
      padding: 5px;
      font-size: 1.8em;
      margin-bottom: 1.2em;
  }
  .contacts__title_wrapper-h2 {
      letter-spacing: 1.5px;
  }
  .slick-slide .row .col-xs-12 {
      min-height: 70px;
      padding-left: 0px !important;
      padding-right: 0px !important;
  }
  .toogle_slider-p {
      font-size: .9em;
      font-weight: 700;
  }
  #partners__title {
    top:30vh;
  }
}

/* КОНТЕЙНЕР*/

@media (min-width: 2300px) {

body {
  font-size: 18px !important;
}


}


@media (min-width: 1910px) {
.container {
    width: 1410px !important;
}
body {
  font-size: 17px !important;
}


}
/* OFF КОНТЕЙНЕР*/


/* orientation */
@media screen and (orientation: landscape) and (max-width : 768px) { 
  .title_copyright {
      padding-bottom: 0px;
  }
}
@media screen and (orientation: portrait) and (max-width : 1200px) {
  .contacts__title_wrapper-h2 {
    margin-top: 1em;
  }
}
@media screen and (orientation: portrait) and (max-width : 768px) { 
  .contacts__title {
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    top: 10%;
  }
  .contacts__title_wrapper {
    margin: 0;
    padding-top: 25px !important;
    width: 100%;
  }
  .contacts__title_wrapper form {
    width: 80%;
    margin: 0 auto;
  }
  .contacts__title_wrapper-h2 {
    margin: 1.5em;
    font-size: 2.3em;
  }
  .contacts__title-p2 {
    font-size: 1.5em;
  }
  .cont-cont {
    margin: 0 !important;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
  }
  .contacts__title-input {
    border-bottom: 3px solid;
    padding: 5px;
    font-size: 1.8em;
    margin-bottom: 1.2em;
  }
}

/* eof orientation*/



audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
time {
  display: block;
}



fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Allow only vertical resizing of textareas */

textarea {
    resize: vertical;
}

img {
    max-width: 100%;
}


a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover {
  text-decoration: none;
  -webkit-transition: all 0.15s linear 0s;
  -o-transition: all 0.15s linear 0s;
  transition: all 0.15s linear 0s;
}

a:focus {
  outline: medium none;
  text-decoration: none;
}


/* ==========================================================================
  Template styles
   ========================================================================== */
/*parallax*/

.parallax {
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: 50% 0;
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 767px) {
  .parallax {
    background-size: auto auto !important;
  }
}


/*page preloader*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  z-index: 13000;
  height: 100%;
}

.preloader_image {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: url(../images/preloader.gif) no-repeat 50% 50% transparent;
  margin: -50px 0 0 -50px;
}


/* boxed layout */

.pattern1 {
  background-image: url(../images/pattern1.png);
}

.pattern2 {
  background-image: url(../images/pattern2.png);
}

.pattern3 {
  background-image: url(../images/pattern3.png);
}

.pattern4 {
  background-image: url(../images/pattern4.png);
}

.pattern5 {
  background-image: url(../images/pattern5.png);
}

.pattern6 {
  background-image: url(../images/pattern6.png);
}

.pattern7 {
  background-image: url(../images/pattern7.png);
}

.pattern8 {
  background-image: url(../images/pattern8.png);
}

.pattern9 {
  background-image: url(../images/pattern9.png);
}

.pattern10 {
  background-image: url(../images/pattern10.png);
}

.pattern11 {
  background-image: url(../images/pattern11.png);
}




/* animated elements */

.to_animate {
  visibility: hidden;
}

.animated {
  /*IE7 fix*/
  visibility: visible !important;
}



/* totop */

#toTop {
  bottom: 0;
  right: 0;
  display: none;
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: fixed;
  text-decoration: none;
  z-index: 9999;
  font-size: 0;
  color: transparent;
  background-color: #f5bb2c;
  opacity: 0.7;
}

#toTop:after {
  color: #ffffff;
  content: "\f106";
  font-size: 16px;
  line-height: 50px;
  font-family: 'rt-icons-2';
  text-align: center;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#toTopHover, #toTop:hover {
  bottom: 3px;
  opacity: 1;
}

#toTop:hover:after {
  color: #ffffff;
}

#toTop:active, #toTop:focus {
  outline: medium none;
}

.modal-open #toTop {
  display: none !important;
}

/* jQuery Countdown styles 2.0.2. */
#comingsoon-countdown {
  text-align: center;
}

#comingsoon-countdown:before,
#comingsoon-countdown:after {
  clear: both;
  display: table;
  content: ' ';
}

.countdown-rtl {
  direction: rtl;
}

.countdown-row {
  clear: both;
  display: table;
  margin: auto;
  padding: 20px 0;
  margin-bottom: 20px;
  text-align: center;
}

.countdown-section {
  display: table-cell;
  padding: 10px 30px 20px;
  text-align: center;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.countdown-section:first-child {
  border-left-width: 0;
}

.countdown-amount {
  font-size: 90px;
  line-height: 1;
  font-weight: 100;
  color: #f5bb2c;
}

.countdown-period {
  display: block;
  font-size: 28px;
  font-weight: 100;
}

.countdown-descr {
  display: block;
}

@media (max-width: 767px) {
  .countdown-section {
    padding: 20px 8px 0;
  }
  .countdown-amount {
    font-size: 40px;
  }
  .countdown-period {
    font-size: 16px;
  }
}