/* body {
    height: 2000px;
 }*/
 /*OVERLAY*/

/*OVERLAY*/    

/*POPuP*/
/*    #windoww{
        position: relative;
        top: 70px;    }*/
    

    .tab-labels {

}

/*LI*/
.tab-labels li {
    float: left;
    list-style-type: none;
}
.tab-labels li.active a {
    background-color: #404040;
    color: #fff;
}

.tab-labels a {
    display: block;
    padding: 16px 22px 15px;
}
.tab-labels .active {
    background: #404040;
    color: #fff;
}
/*LI*/

/*content*/


/* табы нижней прокрутки*/

#tab1 {
    display: none;
}
#tab2 {
    display: none;
}
#tab3 {
    display: none;
}


#tab5 {
    display: none;
}
#tab6 {
    display: none;
}
#tab7 {
    display: none;
}
#tab8 {
    display: none;
}
#tab9 {
    display: none;
}
#tab10 {
    display: none;
}
#tab11 {
    display: none;
}
#tab12 {
    display: none;
}
#tab13 {
    display: none;
}
#tab14 {
    display: none;
}
#tab15 {
    display: none;
}

/* конец табов нижней прокрутки */



/*нью табы первого проекта */

#new_tab1_2 {
    display: none;
}
#new_tab1_3 {
    display: none;
}


/*конец нью табы первого проекта */


/*нью табы второго проекта */

#new_tab2_2 {
    display: none;
}
#new_tab2_3 {
    display: none;
}



/* конец нью табы второго проекта */

/*нью табы 3 проекта */

#new_tab3_2 {
    display: none;
}
#new_tab3_3 {
    display: none;
}



/* конец нью табы 3 проекта */


/*нью табы 4 проекта */

#new_tab4_2 {
    display: none;
}
#new_tab4_3 {
    display: none;
}
#new_tab4_4 {
    display: none;
}
#new_tab4_5 {
    display: none;
}
#new_tab4_6 {
    display: none;
}

/* конец нью табы 4 проекта */


/*нью табы 5 проекта */

#new_tab5_2 {
    display: none;
}
#new_tab5_3 {
    display: none;
}
#new_tab5_4 {
    display: none;
}
#new_tab5_5 {
    display: none;
}
#new_tab5_5 {
    display: none;
}
#new_tab5_6 {
    display: none;
}

/* конец нью табы 5 проекта */

/*нью табы 6 проекта */

#new_tab6_2 {
    display: none;
}
#new_tab6_3 {
    display: none;
}
#new_tab6_4 {
    display: none;
}
#new_tab6_5 {
    display: none;
}
#new_tab6_6 {
    display: none;
}

/* конец нью табы 6 проекта */

/*нью табы 7 проекта */

#new_tab7_2 {
    display: none;
}
#new_tab7_3 {
    display: none;
}
#new_tab7_4 {
    display: none;
}
#new_tab7_5 {
    display: none;
}
#new_tab7_6 {
    display: none;
}

/* конец нью табы 7 проекта */

/*нью табы 8 проекта */

#new_tab8_2 {
    display: none;
}
#new_tab8_3 {
    display: none;
}
#new_tab8_4 {
    display: none;
}
#new_tab8_5 {
    display: none;
}
#new_tab8_6 {
    display: none;
}

/* конец нью табы 8 проекта */

/*нью табы 9 проекта */

#new_tab9_2 {
    display: none;
}
#new_tab9_3 {
    display: none;
}
#new_tab9_4 {
    display: none;
}
#new_tab9_5 {
    display: none;
}
#new_tab9_6 {
    display: none;
}

/* конец нью табы 9 проекта */

/*нью табы 10 проекта */

#new_tab10_2 {
    display: none;
}
#new_tab10_3 {
    display: none;
}
#new_tab10_4 {
    display: none;
}
#new_tab10_5 {
    display: none;
}
#new_tab10_6 {
    display: none;
}

/* конец нью табы 10 проекта */